= image_tag 'logo.png', id: 'pic1', class: 'image'
= form_for(@user, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: @user
    .field
      = f.label :ニックネーム
      %span.fieldspan 必須
      %br/
      = f.text_field :nickname, autofocus: true, placeholder: "例）フリマ太郎", class:"input_field"
    .field
      = f.label :Eメールアドレス
      %span.fieldspan 必須
      %br/
      = f.email_field :email, autocomplete: "email" ,placeholder: "PC,携帯どちらでも可", class:"input_field"
    .field
      = f.label :パスワード
      %span.fieldspan 必須
      - if @minimum_password_length
      %br/
      = f.password_field :password, autocomplete: "new-password" ,placeholder: "７文字以上", class:"input_field"
    .field
      = f.label :パスワード（再入力）
      %span.fieldspan 必須
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder: "７文字以上", class:"input_field"
    .flex2
      = f.label :お名前（全角）
      %span.fieldspan 必須
      %br/
      .flex
        .field
          = f.text_field :family_name, autofocus: true,placeholder: "例）山田" , class:"family_name"
        .field
          = f.text_field :first_name, autofocus: true,placeholder: "例）太郎" , class:"first_name"
    .flex2
      = f.label :お名前カナ（全角）
      %span.fieldspan 必須
      %br/
      .flex
        .field
          = f.text_field :family_name_kana, autofocus: true,placeholder: "例）ヤマダ" , class:"family_kana"
        .field
          = f.text_field :first_name_kana, autofocus: true,placeholder: "例）タロウ" , class:"first＿kana"
    .field
      = f.label :生年月日
      %span.fieldspan 必須
      %br/
      = f.date_select :birthday,{start_year: 1900, end_year: 2020, use_month_numbers: true} , class:"input_fields"
    .actions
      = f.submit "NEXT" ,class:"test"
      .searchs
        = render "devise/shared/links"