.footer
  %ul.footer--main
    %li.footer--sub
      %h2.footer--title
        FURIMAについて           
      %ul.footer--lists
        %li.footer--list
          = link_to '#',{class:"footer--list__menu"} do
            会社の概要
        %li.footer--list
          = link_to '#',{class:"footer--list__menu"} do
            プライバシーポリシー
        %li.footer--list
          = link_to '#',{class:"footer--list__menu"} do
            FURIMAの利用規約
        %li.footer--list
          = link_to '#',{class:"footer--list__menu"} do
            ポイントに関する特約

    %li.footer--sub
      %h2.footer--title
        FURIMAを見る          
      %ul.footer--lists
        %li.footer--list
          = link_to '#',{class:"footer--list__menu"} do
            カテゴリ一覧
        %li.footer--list
          = link_to '#',{class:"footer--list__menu"} do
            ブランド一覧

    %li.footer--sub
      %h2.footer--title
        ヘルプ＆ガイド           
      %ul.footer--lists
        %li.footer--list
          = link_to '#',{class:"footer--list__menu"} do
            FURIMAガイド
        %li.footer--list
          = link_to '#',{class:"footer--list__menu"} do
            FURIMAロゴ利用ガイド
        %li.footer--list
          = link_to '#',{class:"footer--list__menu"} do
            お知らせ

  .footer--mark
    = link_to image_tag("logo-white.png", width: '160', alt: "サンプル画像"), root_path
  %p ©️ FRIMA
          
        