.header
  .header--content
    .header--content--main
      %h1.logomark
        = link_to image_tag("logo.png", alt: "ロゴ"), root_path
      .search 
        %form
          %input{type: "text", placeholder:'キーワードから探す'}
          = button_tag type: 'submit', class:"submit" do
            = link_to (image_tag'icon-search 1.png') 
    .menu--lists
      %ul.lists--left
        %li.lists--left__product
          = link_to "#" do
            カテゴリー
        %li.lists--left__product
          = link_to '#' do
            ブランド
      %ul.lists--right
        %li.lists--right__login
          = link_to '#' do
            ログイン
        %li.lists--right__login
          = link_to '#' do
            新規会員登録