.top-image
  = image_tag "logo.png",size: "180x60", alt: "" ,class:"text-center"
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :メールアドレス
    %spanclass 必須
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :パスワード
    %spanclass 必須
    %br/
    = f.password_field :password, autocomplete: "current-password"
  - if devise_mapping.rememberable?
    .field
  .actions
    = f.submit "ログイン", class: "login-btn"
