.headerbox
  .headerbox--logo
    = link_to image_tag('logo/logo.png', alt: '', class: 'headerbox--logo__main'), root_path
.mainbox
  .purchase
    .purchase--main
      .purchase--main__title
        %h1 購入内容の確認
      .purchase--main__product
        .purchase--main__product__picture
          = image_tag "#{@item.item_images[0].url}", width:"80",height:"80"
        .purchase--main__product__explanation
          %p
            = @item.name
          %p
          .price
            .price--title
              送料込み(税込み)
            .price--main
              ¥
              = @item.price
      .purchase--main__pay
        .pay--money
          支払い金額
        .pay--price
          ¥
          = @item.price
      .purchase--main__method
        %h3.purchase--main__method__pay
          支払い方法
          .purchase--main__method__register
            %label 登録クレジットカード情報
            %br
              = "**** **** ****" + @initial_card_information.last4 
              - exp_month = @initial_card_information.exp_month.to_s
              - exp_year = @initial_card_information.exp_year.to_s.slice(2,3)
              = "有効期限" + exp_month + " / " + exp_year
      .purchase--main__delivery
        - if @send_information.present?
          %h3.purchase--main__delivery__place
            配送先
          =@send_information.post_code
          %br
          =@send_information.prefecture
          %br
          =@send_information.city
          =@send_information.address
          =@send_information.building_name
          %br
          =@send_information.send_family_name
          =@send_information.send_first_name
        - else
          = link_to new_send_information_path, class: "purchase--main__delivery__method" do
            配送方法
      = form_tag(item_buy_path, method: :post) do
        = submit_tag "購入する" 
= render "/layouts/footer" 
