.header
  .header__logo-new
    = link_to image_tag('logo/logo.png', alt: '', class: 'header__logo-new-main'), '#'

.form
  = render 'layouts/error_message', model: @item
  = form_for @item do |f|
    .input__box
      %span3 出品画像 
      %span{class: "text-required"} 必須
      %span4{class: "text-file"}最大5枚まで画像登録できます
      .post__drop__box__container
        .preview-content
          - @item.item_images.each do |image|
            .preview-box
              .upper-box
                = image_tag image.url.url, width: "112", height: "112", alt: "preview"
              .lower-box
                .delete-box
                  %span-btn 削除
        .label-content
          = f.label :"item_images_attributes_#{@item.item_images.length}_url", class: "label-box", id: "label-box--#{@item.item_images.length}" do
            %pre.label-box__text-visible
              = icon('fas', 'camera')
        .hidden-content
          = f.fields_for :item_images do |i|
            = i.file_field :url, class: "hidden-field"
            = i.check_box:_destroy, class: "hidden-checkbox"

          - @item.item_images.length.upto(4) do |i|
            %input{name: "item[item_images_attributes][#{i}][url]", id: "item_item_images_attributes_#{i}_url", class:"hidden-field", type:"file"}

    .item-content
      %span3 商品名
      %span{class: "text-required"} 必須
      = f.text_field :name, class: "item__name",  placeholder: "商品名(40文字以内)"

      %span3 商品の説明
      %span{class: "text-required"} 必須
      = f.text_area :introduction, class: "content-area", placeholder: '商品の特徴、注意点など(1,000文字以内)(色、素材、重さ、定価、注意点など)      例:2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'

    .item-detail
      %span3 カテゴリ
      %span{class: "text-required"} 必須
      = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {include_blank: "選択して下さい"}, {  class: "item-category-form", id: 'parent_category'}
 
      %span3 ブランド
      %span{class: "text-any"} 任意
      = f.text_field :brand, class: "brand__name",  placeholder: "ブランド名"

      %span3 商品の状態
      %span{class: "text-required"} 必須
      = f.collection_select :item_condition_id, ItemCondition.all, :id, :itemcondition,{include_blank: "選択して下さい"}

    .item-delibary
      %span3 送料の負担
      %span{class: "text-required"} 必須
      = f.collection_select :postage_payer_id, PostagePayer.all, :id, :postagepayer,{include_blank: "選択して下さい"}
      %span3 発送元の地域
      %span{class: "text-required"} 必須
      = f.collection_select :prefecture_code_id, PrefectureCode.all, :id, :prefecturecode,{prompt: "選択して下さい"}
      %span3 発送までの日数 
      %span{class: "text-required"} 必須
      = f.collection_select :preparation_day_id, PreparationDay.all, :id, :preparationday,{include_blank: "選択して下さい"}
      
      %span3 発送方法
      %span{class: "text-required"} 必須
      = f.collection_select :postage_type_id, PostageType.all, :id, :postagetype

    .item-price
      %span3 販売価格
      %span{class: "text-required"} 必須
      = f.text_field :price, class: "price-area", placeholder:"例）¥300~9,999,999"

    = f.submit '更新する', class: 'submit-btn'

.footer
  %ul.contents
    %li.contents__list
      %h2.title FURIMAについて
      %ul
        %li
          = link_to root_path do
            会社概要（運営会社）
        %li
          = link_to root_path do
            プライバシーポリシー
        %li
          = link_to root_path do
            FURIMA利用規約
        %li
          = link_to root_path do
            ポイントに関する特約
    %li.contents__list
      %h2.title  FURIMAを見る
      %ul
        %li
          = link_to root_path do
            カテゴリー一覧
        %li
          = link_to root_path do
            ブランド一覧
    %li.contents__list
      %h2.title ヘルプ＆ガイド
      %ul
        %li
          = link_to root_path do
            FURIMAガイド
        %li
          = link_to root_path do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to root_path do
            お知らせ
  .footer__logo
    = link_to image_tag('logo/logo-white.png', alt: '', class: 'footer__logo-white'), '#'
  %p © FURIMA