- if user_signed_in?
  = render "/layouts/sellbutton"
- else
  = render "/layouts/no_login_sellbutton"
= render "/layouts/header"

.catch_copy
  .catch_copy__text
    %h1
      人生を変えるフリマアプリ
    %p
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    %a.download(href="#")
      %img(src="http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg" alt="")/
    %a.download(href="#")
      %img(src="http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg" alt="")/

.choose
  .choose__title
    FURIMAが選ばれる3つの理由
  .border_line

  .choose__contents
    .choose__contents--content
      .number 1
      = link_to (image_tag'pict-reason-01.jpg',height: '230px', width: '230px'),root_path
      %h1
        %span2 
          3分
        ですぐに出品
      %p
        スマホで入力するだけで簡単に出品できる！
    .choose__contents--content
      .number 2
      = link_to (image_tag'pict-reason-02.jpg',height: '230px', width: '230px'),root_path
      %h1
        %span2
          シンプル
        で使いやすい
      %p
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    .choose__contents--content
      .number 3
      = link_to (image_tag'pict-reason-03.jpg',height: '230px', width: '230px'),root_path
      %h1
        手数料
        %span2
          業界最安
      %p.center
        最大3%でお得に出品&購入！
.publicity
  .publicity__content
    %h1
      会員数日本一位
    %p
      FURIMAは、フリマアプリで最も人気。
      %br/
      出品・購入回数も業界最多です！
      %br/
      ほしかったあの商品に出会えるかもしれません。
    %a.download(href="#")
      =link_to image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg")
    %a.download(href="#")
      =link_to image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg")
.characteristic
  %h1 FURIMAの特徴
  .boder_bottom
  .characteristic__contents
    .characteristic__contents--content.margin_left
      = link_to (image_tag'icon-01.png',height: '300px', width: '300px'),root_path
      %h2
        簡単に売り買いできる
      %p
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .characteristic__contents--content.margin
      = link_to (image_tag'icon-02.png',height: '300px', width: '300px'),root_path
      %h2
        売上金は即日振込みに対応
      %p
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .characteristic__contents--content.margin_right
      = link_to (image_tag'icon-03.png',height: '300px', width: '300px'),root_path
      %h2
        様々な支払いに対応
      %p
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
.pick_up
  .pick_up__category
    %h1 ピックアップカテゴリー
    %h2.color 新規投稿商品
    = render "/layouts/products"

  .pick_up__brand
    %h1 ピックアップブランド
    %h2.color アーカイバ
    = render "/layouts/products"


= render "/layouts/content_download"
= render "/layouts/footer"