.header
  .header__logo-new
    = link_to image_tag('logo/logo.png', alt: '', class: 'header__logo-new-main'), '#'

.form
  = form_for @item do |f|
    .input__box
      .item-image
        %span 出品画像 
        %span{class: "text-required"} 必須
        .item-image__box
          = f.fields_for :item_images do |i| 
            = i.file_field :url

    .item-content
      %span 商品名
      %span{class: "text-required"} 必須
      = f.text_field :name, class: "item__name",  placeholder: "商品名（必須 40文字まで)"

      %span 商品の説明
      %span{class: "text-required"} 必須
      = f.text_field :introduction, class: "content-area", placeholder: "商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など)例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"

    .item-detail
      %span カテゴリ
      %span{class: "text-required"} 必須
      = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {include_blank: '選択して下さい'}, {  class: "item-category-form", id: 'parent_category'}
 
      %span ブランド
      = f.text_field :brand, class: "brand__name",  placeholder: "ブランド名"

      %span 商品の状態
      %span{class: "text-required"} 必須
      = f.collection_select :item_condition_id, ItemCondition.all, :id, :itemcondition

    .item-delibary
      %span 送料の負担
      %span{class: "text-required"} 必須
      = f.collection_select :postage_payer_id, PostagePayer.all, :id, :postagepayer
      %span 発送元の地域
      %span{class: "text-required"} 必須
      = f.collection_select :prefecture_code_id, PrefectureCode.all, :id, :prefecturecode
      %span 発送までの日数 
      %span{class: "text-required"} 必須
      = f.collection_select :preparation_day_id, PreparationDay.all, :id, :preparationday
      %span 発送方法
      %span{class: "text-required"} 必須
      = f.collection_select :postage_type_id, PostageType.all, :id, :postagetype

    .item-price
      %span 販売価格
      %span{class: "text-required"} 必須
      = f.text_field :price, class: "price-area", placeholder:"例）¥300~9,999,999"

    %input{type: "submit", class: "submit-btn"}

.footer
  %ul.contents
    %li.contents__list
      %h2.title FURIMAについて
      %ul
        %li
          = link_to root_path do
            会社概要（運営会社）
        %li
          = link_to root_path do
            プライバシーポリシー
        %li
          = link_to root_path do
            FURIMA利用規約
        %li
          = link_to root_path do
            ポイントに関する特約
    %li.contents__list
      %h2.title  FURIMAを見る
      %ul
        %li
          = link_to root_path do
            カテゴリー一覧
        %li
          = link_to root_path do
            ブランド一覧
    %li.contents__list
      %h2.title ヘルプ＆ガイド
      %ul
        %li
          = link_to root_path do
            FURIMAガイド
        %li
          = link_to root_path do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to root_path do
            お知らせ
  .footer__logo
    = link_to image_tag('logo/logo-white.png', alt: '', class: 'footer__logo-white'), '#'
  %p © FURIMA