.header
  .header__flex
    .header__flex--image
      = link_to (image_tag'logo.png',width:"140px",height:"40px"),root_path
    .header__flex--form
      %form
        %input.input{type: "text", placeholder: "キーワードで検索"}
        = button_tag type: 'submit', class:"submit"do
          =link_to (image_tag'icon-search1.png',height:"20px",width:"20px")

  .header__btns
    .btn_left
      = link_to "#" do
        カテゴリー
      = link_to "#" do
        ブランド
    - if user_signed_in? 
      .btn
        = link_to "#{current_user.nickname}さん", "/users/#{current_user.id}"
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      .btn_right
        = link_to "ログイン", user_session_path
        = link_to "新規登録", new_user_registration_path
