.pick_up__category--flex
  .product
    - @items.each do |item|
      .image   
        = link_to item_path(item.id) do
          = image_tag "#{item.item_images[0].url}",height:"200px",width:"200px"
          .info
          %p 
            = item.name
          %br/
          = "¥#{item.price}"
          %h3
            (税込)
          %i.fas.fa-star
            0