.pick_up__category--flex
  .product
    - @items.each do |item|
      .image   
        = link_to item_path(item.id) do
          -if item.buyer_id.present? 
            .items-box_photo__sold
              .items-box_photo__sold__inner
                SOLD
          = image_tag "#{item.item_images[0].url}",height:"200pxpx",width:"200px"
          .info
          %p 
            = item.name
          %br/
          = "¥#{item.price}"
          %h3
            (税込)
          %i.fas.fa-star
            0


